<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Sistem klasifikasi batik</title>
	<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />

	<!-- Custom Theme files -->
	<!-- Custom Theme files -->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='pooper.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	<link href="{{url_for('static', filename='css/fileinput.css')}}"media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body style="background-image: url('{{url_for('static', filename ='img/kawung.jpg')}}')">

<div style="width: 35%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center><h1 style=" color: #4c4c4c">Kawung</h1></center> <br>
			<p style="color: #4c4c4c; font-family: 'calibry';">Asal : Kota Yogyakarta dan kerator surakarta<br>
				<br>
			Deskripsi : <br>
			<p style="color: #4c4c4c; font-family: 'calibry'; margin-left: 8px">
		Batik Kawung adalah motif tua yang berasal dari tanah Jawa yang berbentuk seperti kolang-kaling disusun pada empat sudut persegi. Motif ini menurut catatan penelitian sudah ada sejak abad ke-9 dulu. Namun konon batik Kawung baru mulai berkembang pada jaman Kesultanan Ngayogyakarta Hadiningrat, yaitu tahun 1755 pada abad ke-18.
		<br><br>
Makna batik Kawung sendiri ada beberapa, diantaranya adalah pengendalian diri yang sempurna, hati yang bersih tanpa adanya keinginan untuk ria, dan masih banyak lagi. Nama dan motif Kawung dilansir berasal dari dua sumber. Yang pertama adalah serangga Kwangwung, dan yang kedua adalah buah Kolang-Kaling. Motif Kawung termasuk kedalam beberapa motif larangan Keraton, yang mana dulu hanya boleh digunakan oleh kalangan kerajaan saja.
			</p></p>
</div>

<div style="width: 35%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center>
    <center><h1 style=" color: #4c4c4c">Gambar:</h1></center> <br>
    <img src = "{{url_for('static', filename = filename)}}" width = "100%", height = "100%"></center>
</div>
	
</body>
<script type="text/javascript">

</script>
</html>