<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Sistem klasifikasi batik</title>
	<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />

	<!-- Custom Theme files -->
	<!-- Custom Theme files -->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='pooper.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	<link href="{{url_for('static', filename='css/fileinput.css')}}"media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body style="background-image: url('{{url_for('static', filename ='img/megaMendung.jpg')}}')">

<div style="width: 35%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center><h1 style=" color: #4c4c4c">Mega Mendung</h1></center> <br>
			<p style="color: #4c4c4c; font-family: 'calibry';">Asal : Kota Cirebon<br>
				<br>
			Deskripsi : <br>
			<p style="color: #4c4c4c; font-family: 'calibry'; margin-left: 8px">
			Berbagai motif batik di Indonesia begitu beragam, dengan adanya beragam motif, maka budaya Indonesia semakin memiliki pilihan untuk mengembangkan motif batik. Batik Mega Mendung merupakan salah satu hasil kebudayaan yang ada di Indonesia. Untuk itu kali ini kita akan membahas mengenai batik Mega Mendung, batik bermotifkan awan dan langit biru. Motif batik Megamendung merupakan karya seni batik yang identik dan bahkan menjadi ikon batik daerah Cirebon dan daerah Indonesia lainnya.

			Motif batik ini mempunyai kekhasan yang tidak ditemui di daerah penghasil batik lain. Bahkan karena hanya ada di Cirebon dan merupakan masterpiece, Departemen Kebudayaan dan Pariwisata akan mendaftarkan motif megamendung ke UNESCO.
			</p></p>
</div>
=
	
</body>
<script type="text/javascript">

</script>
</html>