<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Sistem klasifikasi batik</title>
	<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />

	<!-- Custom Theme files -->
	<!-- Custom Theme files -->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='pooper.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	<link href="{{url_for('static', filename='css/fileinput.css')}}"media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body style="background-image: url('{{url_for('static', filename ='img/nitikKarawitan.jpg')}}')">
<div style="width: 35%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center>
    <center><h1 style=" color: #4c4c4c">Gambar:</h1></center> <br>
    <img src = "{{url_for('static', filename = filename)}}" width = "100%", height = "100%"></center>
</div>	
<div style="width: 35%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center><h1 style=" color: #4c4c4c">Top 3 Prediksi</h1></center> <br>
    
    <h2 style=" color: #4c4c4c">1.{{ predicts[0][0] }}: <br>{{predicts[0][1] }}</h3>
    <h2 style=" color: #4c4c4c">2.{{ predicts[1][0] }}: <br>{{predicts[1][1] }}</h3>
    <h2 style=" color: #4c4c4c">3.{{ predicts[2][0] }}: <br>{{predicts[2][1] }}</h3>
    
</div>
<div style="width: 35%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center><h1 style=" color: #4c4c4c">Nitik Karawitan</h1></center> <br>
			<p style="color: #4c4c4c; font-family: 'calibry';">Asal : -<br>
				<br>
			Deskripsi : <br>
			<p style="color: #4c4c4c; font-family: 'calibry'; margin-left: 8px">
			Pada batik motif Nitik Karawitan mempunyai unsur motif ceplok, digunakan sebagai kain panjang (jarik), memiliki makna inti yaitu mengenai Kebijaksanaan. Dengan demikian, para pemakainya diharapkan akan menjadi orang yang bijaksana. Itulah mengapa orang-orang yang dituakan di lingkungannya banyak menggunakan batik motif ini.
			</p></p>
</div>

</body>
<script type="text/javascript">

</script>
</html>