<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Sistem klasifikasi batik</title>
	<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />

	<!-- Custom Theme files -->
	<!-- Custom Theme files -->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='pooper.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	<link href="{{url_for('static', filename='css/fileinput.css')}}"media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<style>
    hr { 
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      border-color:#6b6b6b;
    } 
    </style>	
</head>
<body style="background-image: url('{{url_for('static', filename ='img/kawung.jpg')}}');
          min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
          min-height: 100vh; /* These two lines are counted as one :-)       */
          font-size: large;  
          display: flex;
          align-items: center;">
<div class="row" style = "width : 100%">

<div class = "col-sm-5" style="
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
	margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center><h1 style=" color: #4c4c4c">Prediksi</h1></center>     
    <hr>
    <div class="row">
        
        <div class="col-sm-3">
        <b>1.    {{ predicts[0][0] }}</b>
        </div>
        <div class="col-sm-1">
        <b> : </b>
        </div>
        <div class="col-sm-8">
        <b>{{predicts[0][1] }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        2.    {{ predicts[1][0] }}
        </div>
        <div class="col-sm-1">
        : 
        </div>
        <div class="col-sm-8">
        {{predicts[1][1] }} 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        3.    {{ predicts[2][0] }}
        </div>
        <div class="col-sm-1">
        : 
        </div>
        <div class="col-sm-8">
        {{predicts[2][1] }} 
        </div>
    </div>
    <hr>
    <div>
    <center><img src = "{{url_for('static', filename = filename)}}" width = "80%", height = "80%"></center>
    </div>
    
</div>
<div class = "col-sm-5" style="
	border-radius: 25px;
	background-color: rgba(255, 255, 255, .9);
	margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    border-color: #4c4c4c;"
    >
    <center><h1 style=" color: black">Tuntrum</h1></center> <hr>
			<p style="color: black; font-family: 'calibry';">Asal : Kota Surakarta (Solo)<br>
				<br>
			Deskripsi : <br>
			<p style="color: #4c4c4c; font-family: 'calibry'; margin-left: 8px">
			 Motif Truntum yang diciptakan oleh Kanjeng Ratu Kencana (Permaisuri Sunan Paku Buwana III) bermakna cinta yang tumbuh kembali. Dia menciptakan motif ini sebagai symbol cinta yang tulus tanpa syarat, abadi, dan semakin lama semakin terasa subur berkembang (tumaruntum). Karena maknanya, kain bermotif truntum biasa dipakai oleh orang tua pengantin pada hari penikahan. Harapannya adalah agar cinta kasih yang tumaruntum ini akan menghinggapi kedua mempelai. Kadang dimaknai pula bahwa orang tua berkewajiban untuk “menuntun” kedua mempelai untuk memasuki kehidupan

			</p></p>
</div>


	
</body>
<script type="text/javascript">

</script>
</html>